<!-- home -->
link(rel='stylesheet', href='/gyulpon/css/style.css')

div.geral

	header.topo
		nav
			h4 Menu
			a(href="/gyulpon/chr/index.html") Personagens
			
	section.conteudo
	
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='/gyulpon/js/funcoes.js')